ul.tips {
  list-style-type: none;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

ul.states {
  list-style-type: none;
  display: grid;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

section.automata {
  display: grid;
  place-content: center;
}

section.automata h2 {
  margin-bottom: 1rem;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: rgb(0 0 0 / 0.5);
}

.backdrop > * {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

@media screen and (width < 1024px) {
  ul.states {
    grid-template-columns: 1fr;
    font-size: 1.25rem;
  }
  .tips {
    font-size: 1.25rem;
  }
}
