.grammar-info-section {
  margin-top: 64px;
  padding: 32px;
  border-radius: 24px;
  background: var(--card);
  backdrop-filter: blur(18px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  color: var(--text);
}
.heading {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  color: var(--text);
}

.tables {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}
.tables table {
  min-width: 260px;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  border: 3px solid rgba(0, 0, 0, 0.2) ; 
  overflow: hidden;
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: var(--text);
}

.tables thead {
  color:white;
}

.tables th {
  padding: 12px 16px;
  font-weight: 600;
  text-align: center;
  font-size: 0.95rem;
  /* color: var(--text); */
  background: var(--color-table);
  font-weight: bold;


}

.tables td {
  padding: 10px 16px;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.tables tbody tr {
  transition: background 0.2s ease;
}

.tables tbody tr:hover {
  background: rgba(0, 0, 0, 0.2);
}

.rules {
  min-width: 340px;
}

.terminals {
  min-width: 200px;
  text-align: center;
}
.tables td:nth-child(2) {
  font-weight: bold;
}

.tables td {
  word-break: break-word;
}
@media (max-width: 768px) {
  .tables {
    gap: 1.5rem;
  }

  .tables table {
    width: 100%;
  }
}