section.parser h2 {
  margin-bottom: 2rem;
}

.input {
  display: grid;
  gap: 8px;
  align-items: center;
  margin-bottom: 1.5rem;
  grid-template-columns: 1fr auto;
  gap: 1.5rem;
}

.buttons {
  display: flex;
  gap: 8px;
}

.input label {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.input label input {
  padding: 6px 4px;
  flex: 1;
  font-size: 1rem;
  border-radius: 4px;
  appearance: none;
  border: 2px solid rgb(206, 206, 206);
}

.input button {
  appearance: none;
  border: none;
  border-radius: 4px;
  align-self: stretch;
  font-weight: bold;
}
.input .step {
  background-color: rgb(70, 188, 221);
}
.input .step:hover {
  background-color: rgb(57, 171, 202);
}
.input .step:active {
  background-color: rgb(34, 155, 188);
}
.input .run {
  background-color: rgb(50, 195, 50);
}
.input .run:hover {
  background-color: rgb(50, 171, 50);
}
.input .run:active {
  background-color: rgb(38, 151, 38);
}
.input .reset {
  background-color: rgb(242, 136, 112);
}
.input .reset:hover {
  background-color: rgb(217, 117, 95);
}
.input .reset:active {
  background-color: rgb(197, 101, 79);
}

.parse-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.parse-info input:focus {
  outline: none;
}

.parse-stack-container,
.progress-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.parse-stack,
.progress {
  background-color: rgb(235, 235, 235);
  min-width: 4rem;
  padding: 6px 4px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 4px;
  min-height: 2rem;
  cursor: default;
  font-size: 1rem;
}

.current-state-container,
.action-container,
.next-token-container {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.current-state,
.action,
.next-token {
  background-color: rgb(235, 235, 235);
  padding: 8px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 4px;
  align-self: stretch;
}

.accepted {
  background-color: rgb(149, 243, 149);
  border-color: rgb(123, 211, 123);
}

.error-container {
  display: flex;
  gap: 8px;
  color: rgb(235, 84, 84);
  font-weight: bold;
  font-size: 1.2rem;
}

.parse-tree-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.parse-tree-container.no-tree {
  flex-direction: row;
  gap: 8px;
}

.parse-tree {
  align-self: center;
  border: 1px solid #ccc;
  background-color: #fefefe;
}

@media screen and (width < 750px) {
  .input {
    grid-template-columns: 1fr;
  }
  .input label {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    font-size: 1.5rem;
  }
  .buttons button {
    flex: 1;
    padding: 1rem;
    font-size: 1.25rem;
  }
  section.parser input {
    font-size: 1.5rem;
    padding: 12px 8px;
  }
  .current-state,
  .action,
  .next-token {
    font-size: 1.25rem;
    display: grid;
  }
  .parser h4 {
    font-size: 1.3rem;
  }
}
