.tables {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  flex-wrap: wrap;
}

.parser-tables h2 {
  margin-bottom: 2rem;
}

.parser-type-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  align-items: center;
}

.parser-type-container h3 {
  margin-left: 0.5rem;
  font-weight: 600;
}

.parser-type-container select {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.25rem;
}

.conflict {
  background-color: rgb(249, 153, 153);
}

.accept {
  background-color: rgb(154, 248, 154) !important;
  font-weight: bold;
}

@media screen and (width <750px) {
  .tables {
    font-size: 1.25rem;
  }
}

.display-inline {
  display: inline-block !important;
}

.optimization-btn {
  margin: 10px;
  float: right !important;
  background-color: rgb(144, 28, 173);
  color: white;
  appearance: none;
  border: none;
  border-radius: 4px;
  align-self: stretch;
  font-weight: bold;
  min-width: 140px;
}


.table-override td {
  position: relative;
  min-width: 38px;

  padding: 0;
}

.input-override {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  box-sizing: border-box;
  background: transparent;
  font-size: 1rem;
}