.base-items,
.derived-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.base-items {
  padding-bottom: 4px;
  padding-right: 28px;
}

.bottom-border {
  border-bottom: 2px solid black;
}

.state {
  border: 2px solid black;
  padding: 4px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: max-content;
  max-width: max-content;
  position: relative;
}

.state-number {
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 4px;
  right: 4px;
}
