.state-graph {
  display: flex;
  max-height: min-content;
  justify-content: center;
  align-items: start;
}

.state-graph .backward,
.state-graph .forward {
  max-width: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  /* align-items: center; */
}

.self-loop {
  margin-left: auto;
  margin-right: auto;
}

.target {
  cursor: pointer;
}
