@import url('./fonts/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jbmono;
}
/* html,
body {
  max-width: 100%;
  overflow-x: hidden;
} */
:root {
  --bg: #f8fafc;
  --card: rgba(255, 255, 255, 0.75);
  --text: #0f172a;
  --accent: #f8fafc;
  --border-radius:black;
  --btn-color:rgb(31, 155, 31);
  --color-table:#41644A;
}

[data-theme='dark'] {
  --bg: #132545;
  --card: rgba(30, 41, 59, 0.6);
  --text: #e5e7eb;
  --accent: rgba(0,0,0,0.5);
  --btn-color: rgb(31, 155, 31);
  --color-table: linear-gradient(135deg, var(--accent), rgba(99, 102, 241, 0.6));
}

body {
  display: grid;
  /* place-content: center; */
  position: relative;
}

#root {
  max-width: 2000px;
  display: grid;
  place-content: center;
}

button {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid black;
}

th {
  background-color: rgb(196, 196, 196);
}

table {
  border-collapse: collapse;
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
}

section {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #f5f5f5;
}
